body {
  margin: auto;
  width: 80%
}
.jumbotron{
  text-align: center;
}

.button1 {
  background-image: url('./assets/img/koya1.jpg');
  height: 50px;
  width: 50px
}

.button2 {
  background-image: url('./assets/img/koya2.jpg');
  height:50px;
  width:50px;

}
.button3 {
background-image: url('./assets/img/koya3.jpg');
height:50px;
width:50px;
}
.button4 {
background-image: url('./assets/img/koya4.jpg');
height:50px;
width:50px;
}
.button5 {
background-image: url('./assets/img/koya5.jpg');
height:50px;
width:50px;
}
.button6 {
background-image: url('./assets/img/koya6.jpg');
height:50px;
width:50px;
}
.button7 {
background-image: url('./assets/img/koya7.jpg');
height:50px;
width:50px;
}
.button8 {
background-image: url('./assets/img/koya8.jpg');
height:50px;
width:50px;
}
.button9 {
background-image: url('./assets/img/koya9.jpg');
height:50px;
width:50px;
}
.button10 {
background-image: url('./assets/img/koya10.jpg');
height:50px;
width:50px;
}
.button11 {
background-image: url('./assets/img/koya11.jpg');
height:50px;
width:50px;
}
.button12 {
background-image: url('./assets/img/koya12.jpg');
height:50px;
width:50px
}



/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
